nav.nav-group {
  margin-top: 10px;
}

#directory-current-page {
  color: orange;
}

#directory-current-page span {
  color: orange;
}

.pane {
  background-color: #333;
}
#main-content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#main-content video {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* https://github.com/connors/photon/pull/129 */
.sidebar {
  overflow: scroll;
}

img.visible {
  display:inline
}

img.hidden {
  display:none
}

.nav-group-item-disactive:active {
  background-color: transparent;
}

#main-content {
  width: auto;
  height: 95%;
}

.video-component {
  position: fixed;
  width: 80%;
  padding-left: 100px;
  bottom: 10px;
  padding-right: 100px;
  color: #B0B0B0;
}

x-slider {
  bottom: 0;
}

.grid {
    width: 100%;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    margin: 10px;
    background-color: #eee;
    width: 350px;
    height: 300px;
    float:left;
}

.grid-item-content {
    width: 350px;
    height: 300px;
    object-fit: contain;
    /* object-fit: cover; */
}

.grid-item-label {
    margin: 0;
    position: absolute;
    background-color: #333;
    opacity: 0.5;
    top: 5px;
    left: 5px;
}

.grid-item-label p {
    margin: 5px;
    color: #fff;
}

.nav-group-input {
    line-height: 1.6;
}